@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap');


@font-face {
  font-family: 'Archivo Black';
  src: url('./fonts/ArchivoBlack-Regular.woff2') format('woff2'),
        url('./fonts/ArchivoBlack-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
