.bs-header{
    padding: 16px 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    transition: top 0.3s;
    width: 100%;
    z-index: 100;

    .bs-header__view{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bs-main-menu{
            a{
                font-family: 'Archivo';
                color: #0E1735;
                opacity: 0.56;
                letter-spacing: 0.04em;
                font-weight: 600;
                font-size: 15px;
                position: relative;
                display: block;

                &:hover{
                    opacity: 1;

                }
            }

            .active{
                a{
                    color: #0E1735;
                    letter-spacing: 0.04em;
                    font-weight: 600;
                    font-size: 15px;
                    position: relative;
                    display: block;
                    opacity: 1;

                    &:after{
                        content: '';
                        position: absolute;
                        height: 4px;
                        left: -15px;
                        right: -15px;
                        background: #1A98F7;
                        bottom: -30px;
                        transition: transform 0.3s;
                    }
                }
            }

            li+li{
                margin-left: 48px;
            }
        }
    }
}

.off-canvas{
    .menu{
        a{
            padding: 10px;
        }
    }
}
