.bs-section-service{
  padding: 0;
  background: #0E1735;

  .bs-container{
    width: 100%;

    .bs-about{
      display: flex;

      .bs-img{
        width: 50%;

        img{
          display: block;
          width: 100%;
        }
      }
      .bs-service {
        margin-left: 70px;
        width: 650px;

        .bs-title {
          width: 413px;
          margin-top: 50px;
          margin-bottom: 46px;

          h2 {
            font-family: 'Archivo Black';
            font-weight: normal;
            font-size: 42px;
            color: #00C0FE;
          }
        }

        .bs-expert-service {
          margin-bottom: 60px;

          li + li {
            margin-top: 20px;
          }

          li {
            font-family: 'Roboto';
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            list-style: url("../img/service-list-style.svg");
          }
        }

        .bs-button__more {
          background: #0E1735;

          &:hover {
            color: #fff;
            background: #00C0FE;
          }
        }
      }
    }
  }
}
