.bs-section-about{
  padding: 85px 0;
  position: relative;

  .bs-title{
    font-weight: normal;
    font-size: 42px;
    font-family: Archivo Black;
  }

  .bs-subtitle{
    font-family: 'Roboto';
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: 48px;

    div + div {
      margin-top: 36px;
    }
  }

  .bs-gallery{
    position: absolute;
    top: 85px;
    right: 0;

    .bs-gallery__line{
      display: flex;

      img + img{
        margin-left: 30px;
      }
    }

    .bs-gallery__line-second{
      margin-top: 30px;
      transform: translateX(105px);
    }
  }
}
