.bs-section-gallery{
  padding: 90px 0 60px;

  .bs-container{
    width: 100%;

    .gallery{
      display: flex;
      justify-content: center;

      .bs-gallery-column{
        width: 100%;

        a{
          display: block;
          margin: 3px;
        }

        div{
          width: 100%;
          display: flex;

          a{
            width: 50%;
          }
        }

        img{
          width: 100%;
          transition: opacity 2s;

          &:hover{
            opacity: 0.6;
          }
        }
      }
    }
  }
}
