<section class="bs-section-service" id="services">
    <div class="bs-container">
        <div class="bs-about">
            <div class="bs-img">
                <img src="assets/img/service-img-1.png" alt="">
            </div>
            <div class="bs-service">
                <div class="bs-title">
                    <h2>
                        We Provide Expert Service
                    </h2>
                </div>
                <ul class="bs-expert-service">
                    <li>FREE Loaner Cars</li>
                    <li>FREE Shuttle Service</li>
                    <li>General Auto Repair & Maintenance</li>
                    <li>Transmission Repair & Replacement</li>
                    <li>Fuel System Repair</li>
                    <li>Exhaust System Repair</li>
                    <li>Engine Cooling System Maintenance</li>
                    <li>Electrical Diagnostics</li>
                </ul>
                <button class="bs-button__more bs-button__light">Read More</button>
            </div>
        </div>
        <div class="bs-car-gallery" id="models">
            <div>
                <div class="bs-car-post">
                    <div class="bs-car--img">
                        <img src="assets/img/car-audi.png" alt="Audi">
                    </div>

                    <div class="bs-info">
                        <div class="bs-name">
                            <h3>Audi</h3>
                        </div>
                        <div class="bs-location">
                            <div class="bs-country">
                                Germany
                            </div>
                            <div class="bs-number">
                                29
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bs-car-post">
                    <div class="bs-car--img">
                        <img src="assets/img/car-ford.png" alt="Ford">
                    </div>

                    <div class="bs-info">
                        <div class="bs-name">
                            <h3>Ford</h3>
                        </div>
                        <div class="bs-location">
                            <div class="bs-country">
                                USA
                            </div>
                            <div class="bs-number">
                                23
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bs-car-post">
                    <div class="bs-car--img">
                        <img src="assets/img/car-honda.png" alt="Honda">
                    </div>

                    <div class="bs-info">
                        <div class="bs-name">
                            <h3>Honda</h3>
                        </div>
                        <div class="bs-location">
                            <div class="bs-country">
                                Japan
                            </div>
                            <div class="bs-number">
                                12
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="bs-car-post">
                    <div class="bs-car--img">
                        <img src="assets/img/car-mitsubishi.png" alt="Audi">
                    </div>

                    <div class="bs-info">
                        <div class="bs-name">
                            <h3>Mitsubishi</h3>
                        </div>
                        <div class="bs-location">
                            <div class="bs-country">
                                Japan
                            </div>
                            <div class="bs-number">
                                45
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bs-car-post">
                    <div class="bs-car--img">
                        <img src="assets/img/car-volkswagen.png" alt="Ford">
                    </div>

                    <div class="bs-info">
                        <div class="bs-name">
                            <h3>Volkswagen</h3>
                        </div>
                        <div class="bs-location">
                            <div class="bs-country">
                                Germany
                            </div>
                            <div class="bs-number">
                                8
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bs-car-post">
                    <div class="bs-car--img">
                        <img src="assets/img/car-corvette.png" alt="Honda">
                    </div>

                    <div class="bs-info">
                        <div class="bs-name">
                            <h3>Corvette</h3>
                        </div>
                        <div class="bs-location">
                            <div class="bs-country">
                                USA
                            </div>
                            <div class="bs-number">
                                4
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bs-button__all-models">
                <button class="bs-button bs-button__all-models">
                    Explore all Models
                </button>
            </div>
        </div>
    </div>
</section>


