<section class="bs-section-about" id="about">
    <div class="row">
        <div class="column large-5">
            <div class="bs-title">
                About Us
            </div>
            <div class="bs-subtitle">
                <div>
                    Specialising in design and fabrication of FIA, CAMS and ANDRA approved roll over protection systems
                    for any vehicle. With over 35 years experience in specialised motorsport fabrication in Perth,
                    Western Australia, you can be assured that your custom project will be completed to the highest
                    possible TIG welding standard.

                </div>
                <div>
                    While Roll Cages are our specialty, call to enquire about custom fabrication of other products.
                </div>
            </div>
            <button class="bs-button bs-button__light">Read More</button>
        </div>
    </div>
    <div class="bs-gallery">
        <div class="bs-gallery__line">
            <img src="assets/img/about-img-1.png" alt="">
            <img src="assets/img/about-img-2.png" alt="">
        </div>
        <div class="bs-gallery__line bs-gallery__line-second">
            <img src="assets/img/about-img-3.png" alt="">
            <img src="assets/img/about-img-4.png" alt="">
        </div>
    </div>
</section>
