<section class="bs-section-costumers">
    <div class="row">
        <div class="column large-3">
            <h1 class="bs-title">
                What our customers are saying
            </h1>
            <div class="bs-slider-nav">
                <svg width="32" height="32" class="arrowPrev">
                    <use xlink:href="#icon-arrowPrev">
                    </use>
                </svg>
                <svg width="32" height="32" class="arrowNext">
                    <use xlink:href="#icon-arrowNext">
                    </use>
                </svg>
            </div>
        </div>
        <div class="column">
            <div class="slider-customers">
                <div class="slide slide__1">
                    <div class="bs-review">
                        “ Took the car in to have a noisy engine checked. They did a thorough check, found nothing
                        untoward and, for good measure, updated all the engine management softwares. End result no cost.
                        Brilliant!
                    </div>

                    <div class="bs-person">
                        <img src="assets/img/slide-person-1.png" alt="">
                        <div class="bs-person__info">
                            <p class="bs-name">
                                Wade Warren
                            </p>
                            <div class="bs-company">
                                2006 Porsche Cayman
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide slide__2">
                    <div class="bs-review">
                        “ Took the car in to have a noisy engine checked. They did a thorough check, found nothing
                        untoward and, for good measure, updated all the engine management softwares. End result no cost.
                        Brilliant!
                    </div>

                    <div class="bs-person">
                        <img src="assets/img/slide-person-2.png" alt="">
                        <div class="bs-person__info">
                            <p class="bs-name">
                                Wade Warren
                            </p>
                            <div class="bs-company">
                                Mazda RX2 Sedan ANDRA
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide slide__1">
                    <div class="bs-review">
                        “ Took the car in to have a noisy engine checked. They did a thorough check, found nothing
                        untoward and, for good measure, updated all the engine management softwares. End result no cost.
                        Brilliant!
                    </div>

                    <div class="bs-person">
                        <img src="assets/img/slide-person-3.png" alt="">
                        <div class="bs-person__info">
                            <p class="bs-name">
                                Wade Warren
                            </p>
                            <div class="bs-company">
                                2006 Porsche Cayman
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide slide__2">
                    <div class="bs-review">
                        “ Took the car in to have a noisy engine checked. They did a thorough check, found nothing
                        untoward and, for good measure, updated all the engine management softwares. End result no cost.
                        Brilliant!
                    </div>

                    <div class="bs-person">
                        <img src="assets/img/slide-person-2.png" alt="">
                        <div class="bs-person__info">
                            <p class="bs-name">
                                Wade Warren
                            </p>
                            <div class="bs-company">
                                Mazda RX2 Sedan ANDRA
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
