<section class="bs-section-intro">
    <div class="row">
        <div class="column large-5">
            <div class="bs-info">
                <h1 class="bs-title">
                    Over 35 years experience in motorsport fabrication
                </h1>

                <div class="bs-subtitle">
                    While Roll Cages are our specialty, call to enquire about custom fabrication of other products.
                </div>
                <div class="bs-contact">
                    <button class="bs-button bs-button__contact">
                        Contact
                    </button>
                    <button class="bs-button__light bs-button__works">
                        Our Works
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="bs-slide-post">
        <div class="slider">
            <div class="bs-slide" title="01" >
                <img src="assets/img/slide-1.png" alt="">
            </div>
            <div class="bs-slide" title="02">
                <img src="assets/img/slide-1.png" alt="">
            </div>
            <div class="bs-slide" title="03">
                <img src="assets/img/slide-1.png" alt="">
            </div>
            <div class="bs-slide" title="04">
                <img src="assets/img/slide-1.png" alt="">
            </div>
        </div>
    </div>
</section>
