<section class="bs-section-service" id="services">
    <div class="bs-container">
        <div class="bs-about">
            <div class="bs-img">
                <img src="assets/img/service-img-1.png" alt="">
            </div>
            <div class="bs-service">
                <div class="bs-title">
                    <h2>
                        We Provide Expert Service
                    </h2>
                </div>
                <ul class="bs-expert-service">
                    <li>FREE Loaner Cars</li>
                    <li>FREE Shuttle Service</li>
                    <li>General Auto Repair & Maintenance</li>
                    <li>Transmission Repair & Replacement</li>
                    <li>Fuel System Repair</li>
                    <li>Exhaust System Repair</li>
                    <li>Engine Cooling System Maintenance</li>
                    <li>Electrical Diagnostics</li>
                </ul>
                <button class="bs-button__more bs-button__light">Read More</button>
            </div>
        </div>
    </div>
</section>


