<section class="bs-section-process" id="process">
    <div class="row">
        <div class="column large-12">
            <h1 class="bs-title">
                How does it work?
            </h1>
        </div>
        <div class="column large-3">
            <div class="bs-post">
                <div class="bs-number">
                    <span>
                        1
                    </span>
                </div>

                <div class="bs-information">
                    <svg width="64px" height="64px">
                        <use xlink:href="#icon-learning"></use>
                    </svg>
                    <h3 class="bs-title">
                        Learning
                    </h3>
                    <div class="bs-description">
                        <p>
                            With over 35 years experience in specialised motorsport fabrication in Perth,
                            Western Australia, you can be assured that your custom project will be completed to the highest
                            possible TIG welding standard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column large-3">
            <div class="bs-post">
                <div class="bs-number">
                    <span>
                        2
                    </span>
                </div>

                <div class="bs-information">
                    <svg width="64" height="64">
                        <use xlink:href="#icon-dismantling"></use>
                    </svg>
                    <h3 class="bs-title">
                        Dismantling
                    </h3>
                    <div class="bs-description">
                        <p>
                            With over 35 years experience in specialised motorsport fabrication in Perth, Western
                            Australia, you can be assured that your custom project will be completed to the highest
                            possible TIG welding standard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column large-3">
            <div class="bs-post">
                <div class="bs-number">
                    <span>
                        3
                    </span>
                </div>

                <div class="bs-information">
                    <svg width="64" height="62">
                        <use xlink:href="#icon-assembling"></use>
                    </svg>
                    <h3 class="bs-title">
                        Assembling
                    </h3>
                    <div class="bs-description">
                        <p>
                            With over 35 years experience in specialised motorsport fabrication in Perth, Western
                            Australia, you can be assured that your custom project will be completed to the highest
                            possible TIG welding standard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column large-3">
            <div class="bs-post">
                <div class="bs-number">
                    <span>
                        4
                    </span>
                </div>

                <div class="bs-information">
                    <svg width="64" height="54">
                        <use xlink:href="#icon-learning__last"></use>
                    </svg>
                    <h3 class="bs-title">
                        Learning
                    </h3>
                    <div class="bs-description">
                        <p>
                            With over 35 years experience in specialised motorsport fabrication in Perth, Western
                            Australia, you can be assured that your custom project will be completed to the highest
                            possible TIG welding standard.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
