<section class="bs-section-sponsors">
    <div class="row column">
        <div class="bs-post">
            <span class="bs-company">
                <svg width="70" height="35">
                    <use xlink:href="#icon-chevrolet"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="27">
                     <use xlink:href="#icon-ford"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="23">
                     <use xlink:href="#icon-bentley"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="70">
                     <use xlink:href="#icon-bmw"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="68" height="68">
                     <use xlink:href="#icon-volkswagen"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="60">
                     <use xlink:href="#icon-nissan"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="35">
                    <use xlink:href="#icon-chevrolet"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="27">
                     <use xlink:href="#icon-ford"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="23">
                     <use xlink:href="#icon-bentley"></use>
                </svg>
            </span>
            <span class="bs-company">
                <svg width="70" height="70">
                     <use xlink:href="#icon-bmw"></use>
                </svg>
            </span>
        </div>
    </div>
</section>

