<div class="bs-section-models" id="models">
    <div class="bs-car-gallery">
        <div class="bs-car-post">
            <div class="bs-car--img">
                <img src="assets/img/car-audi.png" alt="Audi">
            </div>

            <div class="bs-info">
                <div class="bs-name">
                    <h3>Audi</h3>
                </div>
                <div class="bs-location">
                    <div class="bs-country">
                        Germany
                    </div>
                    <div class="bs-number">
                        29
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-car-post">
            <div class="bs-car--img">
                <img src="assets/img/car-ford.png" alt="Ford">
            </div>

            <div class="bs-info">
                <div class="bs-name">
                    <h3>Ford</h3>
                </div>
                <div class="bs-location">
                    <div class="bs-country">
                        USA
                    </div>
                    <div class="bs-number">
                        23
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-car-post">
            <div class="bs-car--img">
                <img src="assets/img/car-honda.png" alt="Honda">
            </div>

            <div class="bs-info">
                <div class="bs-name">
                    <h3>Honda</h3>
                </div>
                <div class="bs-location">
                    <div class="bs-country">
                        Japan
                    </div>
                    <div class="bs-number">
                        12
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-car-gallery">
        <div class="bs-car-post">
            <div class="bs-car--img">
                <img src="assets/img/car-mitsubishi.png" alt="Audi">
            </div>

            <div class="bs-info">
                <div class="bs-name">
                    <h3>Mitsubishi</h3>
                </div>
                <div class="bs-location">
                    <div class="bs-country">
                        Japan
                    </div>
                    <div class="bs-number">
                        45
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-car-post">
            <div class="bs-car--img">
                <img src="assets/img/car-volkswagen.png" alt="Ford">
            </div>

            <div class="bs-info">
                <div class="bs-name">
                    <h3>Volkswagen</h3>
                </div>
                <div class="bs-location">
                    <div class="bs-country">
                        Germany
                    </div>
                    <div class="bs-number">
                        8
                    </div>
                </div>
            </div>
        </div>

        <div class="bs-car-post">
            <div class="bs-car--img">
                <img src="assets/img/car-corvette.png" alt="Honda">
            </div>

            <div class="bs-info">
                <div class="bs-name">
                    <h3>Corvette</h3>
                </div>
                <div class="bs-location">
                    <div class="bs-country">
                        USA
                    </div>
                    <div class="bs-number">
                        4
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bs-button__all-models">
        <button class="bs-button">
            Explore all Models
        </button>
    </div>
</div>
