<footer class="bs-footer">
    <div class="row">
        <div class="column large-3">
            <div class="bs-phone-number">
                <div class="bs-info">
                    <h4>
                        CALL US
                    </h4>
                    <a href="tell:0404125744">
                        <p class="bs-number">
                            0404 125 744
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column large-3">
            <div class="bs-mail">
                <div class="bs-info">
                    <h4>
                        write to us
                    </h4>
                    <a href="mailto:bradstacy@bigpond.com">
                        <p>
                            bradstacy@bigpond.com
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="column large-3">
            <div class="bs-location">
                <div class="bs-info">
                    <h4>
                        Find Us
                    </h4>
                    <p>
                        6 Ashford Rd, <br>
                        High Wycombe WA 6057
                    </p>
                </div>
            </div>
        </div>
        <div class="column large-3">
            <div class="bs-hours">
                <div class="bs-info">
                    <h4>
                        OPENING HOURS
                    </h4>
                    <p>
                        Mon - Sat: 8.30am To 9.00pm
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->
