<header class="ba-header-wrap">
    <div class="bs-header">
        <div class="row align-middle bs-header__view">
            <div class="column large-2">
                <a href="/">
                    <img src="{{root}}assets/img/logo.svg" alt="Brad Stacy">
                </a>
            </div>
            <!-- /.column -->
            <div class="column large-5">
                <button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
                        </button>
                <nav>
                    <ul class="menu bs-main-menu show-for-medium">
                        <li {{#ifpage 'index'}} class="active" {{/ifpage}}><a href="index.html" class="bs-menu-links">Home</a></li>
                        <li><a href="#about" class="bs-menu-links">About</a></li>
                        <li><a href="#services" class="bs-menu-links">Services</a></li>
                        <li><a href="#process" class="bs-menu-links">Process</a></li>
                        <li><a href="#models" class="bs-menu-links">Models</a></li>
                    </ul>
                </nav>
            </div>
            <!-- /.column -->
            <div class="column large-2">
                <button class="bs-button bs-button__contact">
                    Contact Us
                </button>
            </div>
        </div>
        <!-- /.row -->
    </div>
</header>
